

/* HEADER STYLE */
#header {
  border-bottom: 1px solid black;
  width: 100%;
  height: 90px;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  position: fixed;
  z-index: 5;
  background-color: white;
}

.container {
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
}


#myt {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-basis: 15%;
}

#myt img {
  padding: 2%;
}

.bright {
  color: MediumAquamarine;
  padding-left: 2%;
}

.nav {
  display: inline-flex;
  flex-direction: row;
  flex-basis: 25%;
  justify-content: space-around;
  align-items: center;
}

.nav a {
  color: black;
  /* padding-top: 50px;*/
}

/* BODY STYLE */

#main {
  display:flex;
  width: 100%;
  position: static;
  padding: 100px 10px;
  justify-content: space-around;
  border: 1px solid black;
}
#main-left {
  width: 40%;
  border: 1px solid black;
}

#main-right {
  width: 40%;
  display: flex;
  justify-content: space-around;
  border: 1px solid black;
}

#sub-left {
  width: 40%;
  border: 1px solid black;
}

#sub-right {
  width: 40%;
  border: 1px solid black;
}
